streamlit>=1.45.0
google-generativeai>=0.8.5
supabase>=2.15.0
pandas>=2.3.0
numpy>=2.0.0
python-dotenv>=1.1.0
python-dateutil>=2.9.0
google-api-python-client>=2.176.0
google-auth>=2.40.0
google-auth-oauthlib>=1.2.2
google-auth-httplib2>=0.2.0
requests>=2.32.4
schedule>=1.2.2
plotly>=6.2.0
bcrypt>=4.3.0
streamlit-option-menu>=0.4.0
streamlit-calendar>=1.3.1
SpeechRecognition
pyttsx3
streamlit-audiorecorder
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
streamlit-calendar
protobuf